* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #191919;
    font-family: "DM Sans";
}

.wrapper {
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 15px;
    width: 100%;
    color: #ffffff;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-top: 43px;
    margin-bottom: 84px;
}

.logo_header {
    position: relative;
    left: -26px;
}

.burger_menu {
    display: none;
}

.navigation a {
    font-size: 17px;
    text-decoration: none;
    color: #ffffff;
    margin-right: 40px;
}

.navigation a:last-child {
    margin-right: 0;
}

.navigation a:hover {
    color: #118da8;
}

.section_1 {
    display: flex;
    position: relative;
}

.men_main img {
    padding-right: 60px;
    width: 100%;
}

.men_main::before {
    content: "";
    /* content: url(../icons/strokes_main_man.png); */
    background-image: url(../icons/strokes_main_man.png);
    /* position: absolute;
    z-index: 1;
    top: -28px;
    left: -26px; */
    width: 68px;
    height: 74px;
    position: absolute;
    background-size: auto;
    top: -28px;
    left: -26px;
}

.right_text {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.main_text {
    margin-bottom: 90px;
    max-width: 526px;
}

.main_text p {
    font-size: 70px;
    /* font-size: calc(25px + 45 * (100vw / 1300)); */
    font-weight: 400;
}

.main_text .next {
    font-size: 75px;
}

.main_text .level {
    font-size: 80px;
    font-weight: 700;
}

.line_next {
    position: relative;
}

.next {
    margin-right: 25px;
    font-weight: 400;
}

.line {
    position: absolute;
    bottom: -10px;
}

.listen_on {
    padding-left: 22px;
    margin-bottom: 130px;
}

.title_listen_on {
    display: inline-block;
    margin-bottom: 16px;
    font-size: 15px;
}

.icons_listen_on a {
    margin-right: 18px;
}

.icons_listen_on a:last-child {
    margin-right: 0;
}

.title_section_2 {
    display: flex;
    justify-content: space-between;
    padding-top: 93px;
    align-items: flex-end;
    margin-bottom: 66px;
}

h2 {
    font-size: 64px;
    font-weight: 400;
}

.viev {
    background-color: #118da8;
    width: 178px;
    height: 51px;
    text-align: center;
    padding: 12px 0;
    font-weight: 400;
    font-size: 17px;
    border-radius: 6px;
}

.cursor {
    cursor: pointer;
}

.episode_3 {
    background-color: #000000;
    border-radius: 32px;
    display: flex;
    margin-bottom: 60px;
}

.img_sec {
    margin: 40px 53px 40px 40px;
    max-width: 389px;
    width: 100%;
}

.right_part {
    display: flex;
    flex-direction: column;
    padding: 48px 0 40px 0;
}

.gear_button,
.gear_sec_4 {
    font-weight: 400;
    font-size: 18px;
    background-color: #191919;
    border-radius: 6px;
    height: 27px;
    width: 73px;
    text-align: center;
    margin-bottom: 48px;
}

.episode {
    font-weight: 400;
    font-size: 17px;
    color: #118da8;
    margin-bottom: 18px;
}

.sec_2 {
    font-weight: 400;
    font-size: 64px;
}

.h3_sec_2 {
    margin-bottom: 28px;
}

.text_sec_2 p {
    font-weight: 400;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 18px;
    line-height: 33px;
    padding-right: 35px;
}

.button {
    height: 51px;
    width: 208px;
    font-weight: 400;
    font-size: 18px;
    background-color: #118da8;
    border-radius: 6px;
    text-align: center;
    padding: 12px 15px 12px 20px;
}

.episode_2 {
    background-color: #000000;
    border-radius: 32px;
    display: flex;
    margin-bottom: 60px;
}

.right_part_sec_3 {
    display: flex;
    flex-direction: column;
    padding: 48px 0 40px 0;
}

.tips_button {
    font-weight: 400;
    font-size: 17px;
    background-color: #191919;
    border-radius: 6px;
    height: 27px;
    width: 136px;
    text-align: center;
    margin-bottom: 48px;
}

.sec_3 {
    font-weight: 400;
    font-size: 64px;
    line-height: 74px;
}

.h3_sec_3 {
    margin-bottom: 28px;
}

.text_sec_3 p {
    font-weight: 400;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 18px;
    line-height: 33px;
    padding-right: 35px;
}

.episode_1 {
    background-color: #000000;
    border-radius: 32px;
    display: flex;
    margin-bottom: 260px;
}

.right_part_sec_4 {
    display: flex;
    flex-direction: column;
    padding: 48px 0 40px 0;
}

.sec_4 {
    font-weight: 400;
    font-size: 57px;
}

.h3_sec_4 {
    margin-bottom: 28px;
}

.text_sec_4 p {
    font-weight: 400;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 18px;
    line-height: 33px;
    padding-right: 35px;
}

.section_5 {
    display: flex;
    margin-bottom: 201px;
}

.right_part_sec_5 {
    padding-top: 148px;
}

.circle_arrow {
    margin-bottom: 20px;
    background: url(../icons/arrow.png) center /75% no-repeat;
    width: 112px;
    height: 112px;
    background-color: #118da8;
    border-radius: 100%;
}

.host_sec_5 {
    font-weight: 400;
    font-size: 18px;
    color: #118da8;
}

h1 {
    font-weight: 400;
    font-size: 65px;
    margin-bottom: 28px;
}

.text_sec_5 {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 94px;
    max-width: 556px;
    margin-bottom: 33px;
    width: 100%;
}

.text_2_sec_5 {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    max-width: 528px;
    width: 100%;
}

.men_singer img {
    width: 100%;
}

.wrapper_sec_6 {
    background-color: #000000;
    border-radius: 32px;
    display: flex;
    margin-bottom: 200px;
    height: 387px;
    width: 100%;
}

.right_part_sec_6 {
    padding: 59px 0 0 60px;
}

.email_newslette {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    color: #118da8;
}

.subscribe {
    font-weight: 400;
    font-size: 72px;
    line-height: 79px;
    width: 431px;
    margin-bottom: 143px;
    margin-right: 150px;
}

.regectration {
    padding: 60px 0 0 60px;
    margin-right: 60px;
}

.name,
.email {
    background-color: #191919;
    border-radius: 6px;
    height: 82px;
    width: 522px;
    font-weight: 400;
    font-size: 24px;
    padding: 26px 0 27px 19px;
    margin-bottom: 20px;
    color: #ffffff;
    border: none;
    width: 100%;
}

.name:focus,
.email:focus {
    outline: none;
}

.name:focus::placeholder,
.email:focus::placeholder {
    opacity: 0;
}

.submit {
    background-color: #118da8;
    border-radius: 6px;
    height: 48px;
    width: 88px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    border: none;
}

.section_6 {
    position: relative;
}

.section_6::before {
    content: url(../icons/strokes.png);
    position: absolute;
    bottom: -25px;
    left: -35px;
}

.review_sec_7 {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 200px;
    justify-content: center;
}

.review {
    background: #000000;
    border-radius: 32px;
    min-height: 321px;
    padding: 54px 60px 51px 50px;
    max-width: 405px;
}

.review p {
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #ffffff;
    margin-bottom: 19px;
}

.review_5 p,
.review_6 p {
    font-size: 35px;
}

.review h3 {
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
}

.star {
    margin-bottom: 22px;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-basis: 20%;
    min-height: 340px;
}

.footer_nav_1 {
    display: flex;
    flex-direction: column;
}

.logo_footer {
    margin-bottom: 26px;
}

.nav_1 a {
    margin-right: 12px;
}

.nav_left {
    display: flex;
    flex-basis: 70%;
}

.footer_nav_2 {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    padding-left: 60px;
}

.mobile_info_1,
.mobile_info_2 {
    display: none;
}

.footer_nav_2 a,
.footer_nav_3 a {
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 10px;
}

.hover_nav a:hover {
    color: #118da8;
}

.footer_nav_3 {
    display: flex;
    flex-direction: column;
    margin-right: 22px;
}

.footer_nav_4 {
    display: flex;
}

.footer_nav_4 a {
    margin-right: 18px;
}

.footer_nav_4 a:last-child {
    margin-right: 0;
}

@media (max-width: 1382px) {
    .wrapper {
        max-width: 95%;
    }
}

@media (max-width: 1240px) {
    .main_text p {
        font-size: 52px;
    }
    .main_text .next {
        font-size: 52px;
    }
    .main_text .level {
        font-size: 58px;
    }
    .line {
        max-width: 105px;
    }
    h2 {
        font-size: 52px;
    }
    h1 {
        font-size: 54px;
    }
    .right_part_sec_5 {
        padding-top: 40px;
    }
    .text_sec_5,
    .text_2_sec_5 {
        padding-right: 25px;
    }
    .circle_arrow {
        width: 90px;
        height: 90px;
    }
    .arrow {
        left: 10px;
        top: 28px;
    }
    .sec_2,
    .sec_3,
    .sec_4 {
        font-size: 46px;
    }
    .sec_3 {
        line-height: 58px;
    }
}

@media (max-width: 1048px) {
    .main_text p {
        font-size: 30px;
    }
    .main_text .next {
        font-size: 30px;
    }
    .main_text .level {
        font-size: 35px;
    }
    .line {
        max-width: 65px;
    }
    h2 {
        font-size: 40px;
    }
    .icons_listen_on a {
        margin-right: 10px;
    }
    .review_sec_7 {
        display: none;
    }
    .section_6 {
        display: none;
    }
    h1 {
        font-size: 30px;
    }
    .right_part_sec_5 {
        padding-top: 40px;
    }
    .text_sec_5,
    .text_2_sec_5 {
        font-size: 15px;
        line-height: 25px;
        padding-right: 25px;
    }
    .circle_arrow {
        width: 55px;
        height: 55px;
    }
    .arrow {
        max-width: 40px;
        left: 8px;
        top: 20px;
    }
}

@media (max-width: 850px) {
    .burger_menu {
        display: flex;
    }
    .burger_menu img {
        max-width: 40px;
    }
    .navigation {
        display: none;
    }
    .icons_listen_on a {
        margin-right: 7px;
    }
    .episode_1 {
        margin-bottom: 60px;
    }
    .episode_3,
    .episode_2,
    .episode_1 {
        flex-wrap: wrap;
        justify-content: center;
    }
    .right_part,
    .right_part_sec_3,
    .right_part_sec_4 {
        align-items: center;
        padding-top: 2px;
    }
    .text_sec_2,
    .text_sec_3,
    .text_sec_4 {
        text-align: center;
    }
    .text_sec_2 p,
    .text_sec_3 p,
    .text_sec_4 p {
        padding: 0 10px;
    }
    h2 {
        font-size: 33px;
    }
    .title_section_2 {
        align-items: center;
    }
    .footer_nav_2,
    .footer_nav_3 {
        display: none;
    }
    .mobile_info_1,
    .mobile_info_2 {
        display: flex;
        align-items: center;
        font-size: 20px;
    }
    .down-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 10px;
    }
    .section_5 {
        margin-bottom: 40px;
    }
    .text_sec_5,
    .text_2_sec_5 {
        margin-bottom: 20px;
    }
    footer {
        justify-content: space-between;
        min-height: 200px;
    }
    .nav_left {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
}

@media (max-width: 768px) {
    .section_1 {
        display: inline-block;
    }
    .men_main {
        text-align: center;
    }
    .men_main::before {
        top: -28px;
        left: 1px;
    }
    .men_main img {
        padding-right: 0;
        width: 90%;
    }
    .right_text {
        justify-content: center;
        align-items: center;
    }
    .main_text {
        margin-bottom: 25px;
        text-align: center;
    }
    .main_text p {
        font-size: 45px;
        padding-top: 25px;
    }
    .main_text .next {
        font-size: 45px;
    }
    .line {
        max-width: 95px;
    }
    .main_text .level {
        font-size: 58px;
    }
    h1 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .listen_on {
        align-self: flex-start;
        margin-bottom: 20px;
    }
    .episode_3,
    .episode_2 {
        margin-bottom: 20px;
    }
    .right_part_sec_5 {
        padding-top: 15px;
    }
    .text_sec_5,
    .text_2_sec_5 {
        font-size: 14px;
        line-height: 20px;
        padding-right: 10px;
    }
}

@media (max-width: 608px) {
    .main_text p {
        font-size: 35px;
    }
    .main_text .next {
        font-size: 35px;
    }
    .main_text .level {
        font-size: 45px;
    }
    .section_5 {
        flex-wrap: wrap;
    }
    .right_part_sec_5 {
        text-align: center;
    }
    .circle_arrow {
        margin: 0 auto;
    }
}

@media (max-width: 516px) {
    h2 {
        font-size: 25px;
    }
}

@media (max-width: 480px) {
    .container {
        margin-bottom: 30px;
    }
    .men_main::before {
        left: -15px;
    }
    .main_text p {
        font-size: 20px;
        padding-top: 30px;
    }
    .main_text .next {
        font-size: 20px;
    }
    .main_text .level {
        font-size: 23px;
    }
    .line {
        max-width: 40px;
        top: 3px;
    }
    h2 {
        font-size: 20px;
    }
    .title_section_2 {
        padding-top: 10px;
        margin-bottom: 30px;
    }
    .viev {
        width: 158px;
        height: 41px;
        padding: 10px 0;
    }
    .gear_button,
    .gear_sec_4,
    .tips_button {
        margin-bottom: 20px;
    }
    .img_sec {
        width: 80%;
    }
    .sec_2,
    .sec_3,
    .sec_4 {
        font-size: 30px;
        line-height: 32px;
    }
    .text_sec_2 p,
    .text_sec_3 p,
    .text_sec_4 p {
        font-size: 18px;
        line-height: 25px;
    }
    .episode_1,
    .section_5 {
        margin-bottom: 20px;
    }
    h1 {
        margin-bottom: 10px;
    }
    .text_sec_5,
    .text_2_sec_5 {
        margin-bottom: 15px;
    }
    footer {
        flex-direction: column;
        justify-content: flex-start;
    }
    .nav_left {
        align-items: flex-start;
    }
    .nav_1 {
        margin-bottom: 25px;
    }
    .nav_left {
        align-items: center;
    }
}

@media (max-width: 370px) {
    .logo_header img {
        max-width: 130px;
        padding-left: 10px;
    }
    h2 {
        font-size: 17px;
    }
    .viev {
        width: 140px;
        height: 36px;
        padding: 8px 0;
    }
    .sec_2,
    .sec_3,
    .sec_4 {
        font-size: 28px;
    }
    .text_sec_2 p,
    .text_sec_3 p,
    .text_sec_4 p {
        font-size: 15px;
        line-height: 22px;
    }
    .viev {
        width: 128px;
        height: 33px;
        font-size: 15px;
    }
    .logo_img {
        max-width: 130px;
    }
}